// clear
.clrAfter {
    clear: both;
    &::after {
        content: '';
        display: block;
        width: 100%;
        clear: both;
    }
}

// bootstrap dropdown
.dropdown {
    &.open {
        position: relative;
        z-index: 99;
    }

    ul {
        z-index: 9999 !important;

        li {
            span {
                display: block;
                padding: 3px 20px;
                clear: both;
                font-weight: 400;
                line-height: 1.42857143;
                color: #333;
                white-space: nowrap;
                cursor: pointer;
                transition: all .1s;

                &:hover {
                    background: @cBack;
                }

                i {
                    display: inline-block;
                    margin-right: 8px;
                    width: 14px;
                    text-align: center;
                }
            }
        }
    }
}
