#nublox
{
    .nublox-mod {
        position: relative;
        z-index: 1;
        height: @moduleHeight;
        margin-bottom: @moduleMargin;
        border-radius: @radius;
        background: @cHighlight;
        color: #fff;

        &.nublox-mod-row {
            background: @cLead;
        }
    }
}
