// pseudo bootstrap
@import 'grid.less';
// row
@import 'row.less';
// column
@import 'col.less';
// modules
@import 'mod.less';
// misc
@import 'elements.less';
// modal adding
@import 'add.less';
// navbar
@import 'navbar.less';
// settings
@import 'settings.less';


@cHighlight: #47c981; // main color
@cLead: #ddd; // main grey color
@cBack: #f8f8f8; // background

@radius: 3px; // main radius

@columnPadding: 10px; // columns padding
@moduleHeight: 70px; // display modules height
@moduleMargin: 10px; // module bottom margin
@btnHeight: 30px; // buttons height
@colOptionsHeight: 35px; // height of column options
@rowOptionsWidth: 30px; // width of row options
