#nuBlox
{
    .nuBlox-row {
        position: relative;
        margin-bottom: 50px;
        background: #fff;
        border-radius: @radius;

        .nuBlox-row-options {
            display: block;
            width: 100%;
            background: @cLead;
            color: #fff;
            padding: 3px 20px;

            .nb-btn {
                color: darken(@cLead, 20%);

                &:hover {
                    color: @cHighlight;
                }
            }

            .nb-btn-addrow {
                position: absolute;
                bottom: -38px;
                left: 0;
            }
        }
    }
}
